html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: linear-gradient(135deg, #f3f4f6, #e0f7fa);
  font-family: Roboto, sans-serif;
}

.reset-password-container {
  height: 90vh;
  display: flex;
  background: linear-gradient(135deg, #f3f4f6, #e0f7fa);
  justify-content: center;
  align-items: center;
}

.reset-password-form {
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  border-radius: 8px;
  background: linear-gradient(135deg, #f3f4f6, #e0f7fa);
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-bottom: 1.5rem;
  font-weight: 600;
  color: #3f51b5;
}

.full-width {
  width: 100%;
  margin-bottom: 1rem;
}

.submit-button {
  width: 100%;
  margin-top: 1rem;
  background-color: rgb(100, 100, 177) !important; /* Green */
  color: white;
}
