<mat-toolbar color="primary" class="footer-toolbar">
  <div class="footer-content">
    <div class="footer-left">
      <a mat-button href="https://coreui.io/pro/angular/" target="_blank">Web-GIS Application for openspace Management</a>
      <span>&copy; 2025 </span>
    </div>
    <div class="footer-right">
      <span>Powered by</span>
      <a mat-button href="https://www.aru.ac.tz" target="_blank">Ardhi Universirty</a>
    </div>
  </div>
</mat-toolbar>


<!-- Hidden Chatbot Container -->
<div #chatbotContainer class="elfsight-app-dfc68b9e-bb1a-4060-a57a-bf22802f801e" data-elfsight-app-lazy style="display: none;"></div>
