<div class="forgot-password-container">
  <form  class="forgot-password-form">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput placeholder="Enter your email" type="email" required />
    </mat-form-field>

    <button mat-raised-button color="primary" type="submit">
      Send Reset Link
    </button>
  </form>
</div>
<button mat-fab color="accent" class="back-button" (click)="goBack()">
  <mat-icon>arrow_back</mat-icon>
</button>
